/*Mobile*/

a {text-decoration: none;
}

body {margin: 0 auto;
}

h1 {font-family: 'Shrikhand';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    color: black; 
}

h2 {font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: black;
    
}

h3 {font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: black;

}

h4 {font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: black;
}



/*Header*/

.header-tittle {width: 100%;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15);
    text-align: center;
}

header h1 {margin: 0px;
padding: 14px 0px 5px 0px;
}

header h4 {color: #353535;
margin: 16px 0px 15px 0px;
padding-left: 17px;}

.localisation {display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
background-color: #EAEAEA;}

/*Nav*/

nav {background-color: #F7F7F7;
padding-bottom: 30px;}

nav h2 {text-align: center;
    padding: 39px 50px 0px 50px;
    margin: 0px;}

nav h3 {color: #353535;
    text-align: center;
padding: 0px 0px;}

nav h4 {color: white;
padding: 13px 18.75px;
text-align: center;
margin: 27px 0px;
}

.nav-button {background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    scale: 1;
    width: 218px;
    align-self: center;
    margin-left: auto;
    padding: 13px 0px;
margin-right: auto;
transition: 400ms;
border: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
color: #FFFFFF;
}


.nav-button:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}


/*MAIN*/



/*fonctionnement*/

.fonct {padding-bottom: 68px;
    margin: 0PX 20PX 0PX 20px}

.fonct h2 {margin: 48PX 0PX 26PX 0px;
}

.fonctionnement-parent {display: flex;
flex-direction: column;
gap: 25px}

.fonctionnement {display: flex;
flex-direction: row;
justify-content: flex-start;
background: #F7F7F7;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
border-radius: 20px;
margin: 0PX 0PX 0PX 12px;
padding-top: 26px;
padding-bottom: 26px ;
-ms-flex-align: center;
transition: 400ms ;
}

.fonctionnement h4 {margin: 0px;
padding-left: 27px;
text-align: center;
line-height: 24px;}

.fonctionnement p {font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14.1818px;
    line-height: 24px;
    margin: 0px;
    color: #FFFFFF;
    text-align: center;
}

.fonctionnement i {padding-left: 9px;
    color: #7E7E7E;
    line-height: 24px;
}

.pastille {height: 24px;
width: 24px;
background:#9356DC;
border-radius: 12px;
position: relative ;
left: -12px;}

.fonctionnement:hover {
    background: #F5EDFF;}
    
.fonctionnement:hover i{
    background: #F5EDFF;
    color:#9356DC ;
    background-clip: border-box;
    -webkit-background-clip: text;
}

/*restaurant*/

.restaurant-background {background-color: #F7F7F7;
padding: 0PX 20PX 64PX 20px;
}

.restaurant-background h2 {margin: 0px;
padding: 54px 0PX 20PX 0px;}

.restaurant-parent {display: flex;
flex-direction: column;
gap: 18px;}

.restaurant {background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;}



.nouveau {font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #008766;
    font-family: 'Roboto';
    background: #99E2D0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    width: 80px;
    height: 29px;
    margin-bottom: -43px;
    position: relative;    
    LEFT: 100%;
    top: 0px;
    margin-left: -100px;
    }
    

    

.restaurant img {width: 100%;
    height:174px ;
    object-fit: cover;
    border-radius: 15PX 15PX 0PX 0px;
    }

.restaurant h2 {font-size: 18px;
line-height: 21px;
padding: 0px;}

.restaurant h3 {font-size: 17px;
line-height: 20px;
margin: 0px;
padding-top: 5px;}

.restaurant-texte {display: flex;
flex-direction: row;
justify-content: space-between;
padding: 16PX 24PX 20PX 12px;
}

.restaurant-texte i {align-self: center;}

/*footer*/

.footer {background: #353535;
padding-left: 25px;}

.footer-flex {display: flex;
flex-direction: column;
gap: 10px;
padding-bottom: 33px;
}

.footer p {font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 0px;
    }

.footer h1 {font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 0px;
    padding: 22PX 0PX 16PX 0PX ;
}

.icon {color: #FFFFFF;
padding-right: 10px;}

.footer-icon {display: flex;
flex-direction: row;}

/*animation*/


.loader-img {position: fixed;
    top: 40%;
    width: 100%;
    display: flex ;
    justify-content: space-around;
    scale: 0.5;
    animation: img 1.5s;
    animation-fill-mode:both ;
    z-index: 2;
}

    @keyframes img {
   
        90% {
           
           opacity: 1;
        }
    
        100%{opacity: 0;
        visibility: hidden;}
     }

.colorful {
    width: 31.4px;
    height: 31.4px;
    position: fixed;
    top: 50%;
    left: 49%;
    background: #9356dc;
    border-radius: 50%;
    animation: colorful-qyh1n1md 1.5s;
    animation-fill-mode: both;
    z-index: 2;
 }

 @keyframes colorful-qyh1n1md {
    0%, 100% {
       transform: translate(-39.2px);
       box-shadow: 0     0 #b568ba, 0     0 #ff79da;
    }
 
    40% {
       transform: translate( 39.2px);
       box-shadow: -16.8px  0 #b568ba,-33.6px  0 #ff79da;
    }
 
    50% {
       transform: translate( 39.2px);
       box-shadow: 0     0 #b568ba, 0     0 #ff79da;
       
    }
 
    90% {
       transform: translate(-39.2px);
       box-shadow: 16.8px  0 #b568ba, 33.6px  0 #ff79da;
       opacity: 1;
    }

    100%{opacity: 0;
    visibility: hidden;}
 }

.loader-background {position: fixed;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    animation: fixed 3s linear;
    animation-fill-mode:both ;
    z-index: 1;
}

    @keyframes fixed {
    
        0% {opacity: 1;}

        50% {opacity: 1;}
    
        100% {
            opacity: 0;
            visibility: hidden;
        }
    }
.animate-heart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.animate-heart .heart-empty {
    position: relative;
    font-size:24px;
}

.animate-heart .heart-full {
    font-size:24px;
    opacity: 0;
    position: absolute;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(#ff79da, #9356dc);
    transition: 0.4s ease-in-out;
}

.animate-heart .heart-empty:hover {
    opacity: 0
}

.animate-heart .heart-full:hover  {
    opacity: 1
}


/*Mediaqueries*/

/*Tablette*/

@media only screen and (min-width: 768px) {

.restaurant-parent {display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 90px;
    row-gap: 50px;
}

.restaurant {max-width: 490px;}



.footer-flex {flex-direction: row;
justify-content: flex-end;
padding: 64PX 0PX 30PX 0px;}

.footer {display: flex;
    flex-direction: row-reverse;}

.footer h1 {
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 0px;
    padding: 57PX 30PX 0PX 50PX;}

.partenaire{padding-right: 30px;}

}



/*DESKTOP*/

@media only screen and (min-width: 992px) {

.fonctionnement-parent {flex-direction: row;
}

.fonctionnement {width: 322px;
flex: 1;}

.fonct {margin: 0% 12.5% 0PX 12.5%;;}

.fonct h4 {white-space: nowrap;}

.restaurant-parent {display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 90px;
    row-gap: 50px;
}

.restaurant {max-width: 490px;}

.restaurant-background {padding: 0px 12.5% 30px 12.5%;}

.footer-flex {flex-direction: row;
justify-content: flex-end;
padding: 64PX 0PX 30PX 0px;}

.footer {display: flex;
    flex-direction: row-reverse;}

.footer h1 {
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 0px;
    padding: 57PX 30PX 0PX 50PX;}

.partenaire{padding-right: 30px;}

}




    








    