/*Mobile*/

a {
    text-decoration: none;
}

body {
    margin: 0 auto;
}

h1 {
    font-family: 'Shrikhand';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    ;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;

}

h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;

}

h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15.0431px;
    line-height: 18px;
    display: flex;
    align-items: flex-end;
    text-align: center;
}



/*Header*/

.header-tittle {
    width: 100%;
    text-align: center;
    MARGIN-RIGHT: 34px;
}


header h1 {
    margin: 0px;

}

header {
    display: flex;
    padding-top: 14px;
    padding-bottom: 5px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15);
}

.BACKROW {
    align-self: center;
    padding-left: 20px;
}

.backrow-link {
    height: 16px;
    align-self: center;
}

/*Nav*/

nav img {
    height: 275px;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: relative;
}


/*MAIN*/

main {
    background: #F7F7F7;
    border-radius: 40px 40px 0px 0px;
    margin-top: -60px;
}

.restaurantname {
    display: flex;
    flex-direction: row;
    padding: 40PX 17PX 0PX 17PX;
    justify-content: space-between;
}


main h1 {
    font-family: 'Shrikhand';
    font-style: normal;
    font-size: 28px;
    line-height: 28px;
    font-weight: 400;
    color: black;
    margin: 0px;
}

.menu {
    margin: 0px 13px;
}

main h3 {
    padding-bottom: 5px;
    margin: 40px 0PX 0PX 0PX;
}

.category {
    display: contents;
}

.category-line {
    border-bottom: 3px solid #99E2D0;
    width: 40px;
    ;
}

main p {
    font-family: 'Roboto';
    font-style: thin;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

main h2 {
    margin: 0px;
    padding-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

main h4 {
    margin: 0;
    align-self: self-end;
    padding-left: 5px;
}

.padding {
    padding: 12px 15px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px 0px;
    background: #FFFFFF;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15.0431px;
}

.check {
    background-color: #99E2D0;
    align-items: center;
    display: none;
    border-radius: 0px 15px 15px 0px;
    width: 59px;
    justify-items: center;
    justify-content: space-around;
    position: static;
}


.card-parent:hover .check {
    display: flex;
    animation: appear 0.5s linear;
}

@keyframes appear {
    0% {
        width: 0px;
    }

    100% {
        width: 59px;
    }
}

.card-parent:hover .check-icon {
    animation: 1s icon linear;
}

@keyframes icon {
    0% {
        scale: 0;
    }

    50% {
        scale: 0;
    }

    75% {
        scale: 1.5;
    }

    100% {
        scale: 1;
    }
}

.padding-button {
    padding-top: 28px;
    padding-bottom: 40px;
}

.command-button {
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    scale: 1;
    width: 186px;
    align-self: center;
    margin-left: auto;
    padding: 13px 0px;
    margin-right: auto;
    transition: 400ms;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
}


.command-button:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

/*footer*/

.footer {background: #353535;
    padding-left: 25px;}
    
.footer-flex {display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 33px;
    }
    
.footer p {font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        margin: 0px;
        }
    
.footer h1 {font-size: 18px;
        line-height: 26px;
        color: #FFFFFF;
        margin: 0px;
        padding: 22PX 0PX 16PX 0PX ;
}
    
    .icon {color: #FFFFFF;
    padding-right: 10px;}
    
    .footer-icon {display: flex;
    flex-direction: row;}

.Entrées {
    animation: entrées 4s linear;
}

@keyframes entrées {

    0% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.plats {
    animation: plats 5s linear;
}

@keyframes plats {

    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.dessert {
    animation: dessert 6s linear;
}

@keyframes dessert {

    0% {
        opacity: 0;
    }

    84% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.loader-img {
    position: fixed;
    top: 40%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    scale: 0.5;
    animation: img 1.5s;
    animation-fill-mode: both;
    z-index: 2;
}

@keyframes img {

    90% {

        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.colorful {
    width: 31.4px;
    height: 31.4px;
    position: fixed;
    top: 50%;
    left: 49%;
    background: #9356dc;
    border-radius: 50%;
    animation: colorful-qyh1n1md 1.5s;
    animation-fill-mode: both;
    z-index: 2;
}

@keyframes colorful-qyh1n1md {

    0%,
    100% {
        transform: translate(-39.2px);
        box-shadow: 0 0 #b568ba, 0 0 #ff79da;
    }

    40% {
        transform: translate(39.2px);
        box-shadow: -16.8px 0 #b568ba, -33.6px 0 #ff79da;
    }

    50% {
        transform: translate(39.2px);
        box-shadow: 0 0 #b568ba, 0 0 #ff79da;

    }

    90% {
        transform: translate(-39.2px);
        box-shadow: 16.8px 0 #b568ba, 33.6px 0 #ff79da;
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.loader-background {
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    animation: fixed 3s linear;
    animation-fill-mode: both;
    z-index: 1;
}

@keyframes fixed {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.animate-heart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.animate-heart .heart-empty {
    position: relative;
    font-size: 24px;
}

.animate-heart .heart-full {
    font-size: 24px;
    opacity: 0;
    position: absolute;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-image: linear-gradient(#ff79da, #9356dc);
    transition: 0.4s ease-in-out;
}

.animate-heart .heart-empty:hover {
    opacity: 0
}

.animate-heart .heart-full:hover {
    opacity: 1
}

/*mediaquery*/

/*TABLETTE*/

@media only screen and (max-width: 992px) and (min-width: 768px) {

    main {
        margin: -60px 25PX 0PX 25PX;
        PADDING: 0PX 10%;
    }

    main h1 {
        padding-right: 24px;
    }

    nav img {
        height: 375px;
    }

    .restaurantname {
        justify-content: center;
    }

    .footer-flex {
        flex-direction: row;
        justify-content: flex-end;
        padding: 64PX 0PX 30PX 0px;
    }

    .footer {
        display: flex;
        flex-direction: row-reverse;
    }

    .footer h1 {
        font-size: 18px;
        line-height: 26px;
        color: #FFFFFF;
        margin: 0px;
        padding: 57PX 30PX 0PX 50PX;
    }

    .partenaire {
        padding-right: 30px;
    }

}

/*DESKTOP*/

@media only screen and (min-width: 992px) {


    main {
        margin: -60px 192PX 0PX 192PX;
        padding: 0% 13%;
    }

    main h1 {
        padding-right: 24px;
    }

    nav img {
        height: 375px;
    }

    .restaurantname {
        justify-content: center;
    }



.footer-flex {
    flex-direction: row;
    justify-content: flex-end;
    padding: 64PX 0PX 30PX 0px;
}

.footer {
    display: flex;
    flex-direction: row-reverse;
}

.footer h1 {
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 0px;
    padding: 57PX 30PX 0PX 50PX;
}

.partenaire {
    padding-right: 30px;
}

}